Criando um arquivo csv para os estudos de leitura de arquivos

In [6]:
import csv

with open ('banco.csv', 'w', newline='') as csvfile:
    fieldnames = ['age','job','marital','education','default','balance','housing','loan'] 
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
    writer.writeheader()
    writer.writerow({'age': '30', 'job': 'unemployed', 'marital': 'married', 'education': 'primary', 'default': 'no', 'balance': '1787','housing': 'no', 'loan': 'no'})
    writer.writerow({'age': '33', 'job': 'services', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': '4789','housing': 'yes', 'loan': 'yes'})
    writer.writerow({'age': '35', 'job': 'management', 'marital': 'single', 'education': 'tertiary', 'default': 'no', 'balance': '1350','housing': 'yes', 'loan': 'no'})
    writer.writerow({'age': '30', 'job': 'management', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': '1476','housing': 'yes', 'loan': 'yes'})
    writer.writerow({'age': '59', 'job': 'blue-collar', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': '0','housing': 'yes', 'loan': 'no'})
    writer.writerow({'age': '35', 'job': 'management', 'marital': 'single', 'education': 'tertiary', 'default': 'no', 'balance': '747','housing': 'no', 'loan': 'no'})
    writer.writerow({'age': '36', 'job': 'self-employed', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': '307','housing': 'yes', 'loan': 'no'})
    writer.writerow({'age': '39', 'job': 'technician', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': '147','housing': 'yes', 'loan': 'no'})
    writer.writerow({'age': '41', 'job': 'entrepreneur', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': '221','housing': 'yes', 'loan': 'no'})
    writer.writerow({'age': '43', 'job': 'services', 'marital': 'married', 'education': 'primary', 'default': 'no', 'balance': '-88','housing': 'yes', 'loan': 'yes'})

Comando para ler todo o conteudo do arquivo :

In [7]:
conteudo = None
with open (file='./banco.csv', mode='r', encoding='utf8') as arquivo:
    conteudo = arquivo.read()

print (conteudo)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Comando para ler o conteudo linha por linha:

In [8]:
conteudo = []

with open (file='./banco.csv', mode='r', encoding='utf8') as arquivo:
    linha = arquivo.readline() #lê a primeira linha
    while linha:
        conteudo.append(linha)
        linha = arquivo.readline() #lê uma nova linha, se a linha não existir, salva o valor None
        
print (conteudo)

['age,job,marital,education,default,balance,housing,loan\n', '30,unemployed,married,primary,no,1787,no,no\n', '33,services,married,secondary,no,4789,yes,yes\n', '35,management,single,tertiary,no,1350,yes,no\n', '30,management,married,tertiary,no,1476,yes,yes\n', '59,blue-collar,married,secondary,no,0,yes,no\n', '35,management,single,tertiary,no,747,no,no\n', '36,self-employed,married,tertiary,no,307,yes,no\n', '39,technician,married,secondary,no,147,yes,no\n', '41,entrepreneur,married,tertiary,no,221,yes,no\n', '43,services,married,primary,no,-88,yes,yes\n']

para ver a tabela de forma mais organizada utilize o comando de repetição 'for':

In [9]:
for linha in conteudo:
    print (linha)

age,job,marital,education,default,balance,housing,loan

30,unemployed,married,primary,no,1787,no,no

33,services,married,secondary,no,4789,yes,yes

35,management,single,tertiary,no,1350,yes,no

30,management,married,tertiary,no,1476,yes,yes

59,blue-collar,married,secondary,no,0,yes,no

35,management,single,tertiary,no,747,no,no

36,self-employed,married,tertiary,no,307,yes,no

39,technician,married,secondary,no,147,yes,no

41,entrepreneur,married,tertiary,no,221,yes,no

43,services,married,primary,no,-88,yes,yes

Extraindo valores da primeira coluna:

In [10]:
idades = []

with open (file='./banco.csv', mode='r', encoding='utf8') as arquivo:
    linha = arquivo.readline() #lê o cabeçalho
    linha = arquivo.readline() #lê a primeira linha
    while linha:
        linha_separada = linha.split(sep=',') #quebra a string nas virgulas e salva o resuldado em uma lista
        idade = linha_separada[0] #seleciona o primeiro elemento da lista
        idade = int(idade) #converte a idade de string para inteiro
        idades.append(idade) #salva o valor em uma lista de idades
        linha = arquivo.readline()
       
    print (idades)

[30, 33, 35, 30, 59, 35, 36, 39, 41, 43]